# UPSTASH_REDIS_REST_URL=
# UPSTASH_REDIS_REST_TOKEN=
# PUBLIC_POSTHOG_HOST=
# PUBLIC_POSTHOG_KEY=
# PINECONE_API_KEY=
# PINECONE_INDEX_NAME=
# INDEX_INIT_TIMEOUT=
# AI_GATEWAY_API_KEY=
# BETTER_AUTH_SECRET=
# BETTER_AUTH_URL=
# NEXT_PUBLIC_APP_URL=
# DATABASE_URL=
# RESEND_API_KEY=
# RESEND_FROM_EMAIL=